* {
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid red;
}
.header {
    position: absolute;
    top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    height: 3rem;
    width: 100%
    
}

.navcontainer {
    display: flex;
    margin-right: 3rem;

}
.navcontainer li {
    display: flex;
    list-style: none;
    padding: 0.75rem;

}
.navcontainer ul {
    display: inline-flex;
}
.headerimage {
    width: 100%;
    height: 15rem;
}
h1 {
    color:black;
    text-align: right;
    padding: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
}
.firstlabel {
    background-color: lightskyblue;
    margin: 1rem;
}
.firstlabel h2{
    text-align: center;
    font-size: 1.5rem;
}

.tablehead {
    background-color: lightskyblue;
}

.table td {
    border: 4px solid lightskyblue;
    text-align: center;
}
